@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f5ef;
  color: #222222;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #e5ddd4;
}
::-webkit-scrollbar-thumb {
  background: #4a2200;
  border-radius: 3px;
}
